
.navi ul {
list-style-type : none;
margin : 0;
padding : 0;
overflow : hidden;
background-color : #333;
position : fixed;
}
li {
float : left;
}
li a, .dropbtn {
display : inline-block;
color : white;
text-align : center;
padding : 14px 16px;
text-decoration : none;
}
li a:hover, .dropdown:hover .dropbtn {
background-color : red;
}
li.dropdown {
display : inline-block;
}
.dropdown-content {
display : none;
position : absolute;
background-color : #f9f9f9;
min-width : 160px;
box-shadow : 0 8px 16px 0 rgba(0, 0, 0, 0.2);
z-index : 1;
}
.dropdown-content a {
color : black;
padding : 12px 16px;
text-decoration : none;
display : block;
text-align : left;
}
.dropdown-content a:hover {
background-color : #f1f1f1;
}
.dropdown:hover .dropdown-content {
display : block;
}
html, body {
font-family : "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
}
h1, h2 {
font-family : "Arial Black", Arial, sans-serif;
font-weight : normal;
}
h1 {
font-size : 2.2rem;
}
h2 {
font-size : 1.8rem;
}
p {
font-size : 1.6rem;
}
body {
max-width : 810px;
margin : 0 auto;
}
.content img {
max-width : 50%;
float : right;
display : block;
margin : 0 auto;
padding : 2%;
}
iframe {
max-width : 95%;
display : block;
margin : 0 auto;
}
@media all and (min-width:810px) {
main {
margin : 0 auto;
}
}
main {
background-color : #d3d3d3;
padding : 10px 10px 10px 10px;
}
.header img {
float : left;
}
